html(lang="ko")
    head
        title #{pageTitle} | Youtube_Clone
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main
            block content
    include partials/footer.pug