extends base.pug
include mixins/video

block content
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found
            
    //- h2 Welcome here you will see the trending videos
    //- ul
    //-     each potato in videos
    //-         +video(potato)
    //-     else
    //-         li Sorry nothing found.
    //- h1 Home!
    //- input(placeholder="Whats your name")
    //- button send